@import "../scss/variables";

.cart-item-container {
  margin-bottom: 2rem;

  .cart-item-header {
    .product-name {
      grid-column: 1/span 2;
    }

    .product-price, .product-qty, .total-amount {
      justify-self: center;
    }
  }

  &.checkout-page {
    .cart-item {
      grid-template-columns: 4rem 1fr 10rem 3rem 10rem;

      @media (max-width: 768px) {
        grid-template-columns: 4rem 1fr 5rem 3rem 5rem;
      }

      @media (max-width: 575px) {
        grid-template-columns: 5rem 1fr;
      }

      .product-price {
        font-weight: normal;
      }
    }

    .cart-item-header {
      @extend .cart-item;

      .product-price {
        font-weight: 600;
      }
    }
  }
}

.checkout-container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .checkout-btn {
    padding: 1rem 2rem;

    svg {
      margin-right: 0.75rem;
    }
  }

  @media (max-width: 575px) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    .checkout-btn {
      padding: 1rem 0;

      svg {
        margin-right: 0.5rem
      }

      &.primary-outline-btn{
        grid-row: 2;
      }
    }

    &.paypal-container {
      grid-template-columns: 1fr;
    }
  }
}
