.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $heading-font;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba($primary, 0.24);
  padding: 1rem;

  .auth-card {
    display: grid;
    grid-template-columns: 24rem auto;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: $true-white;
    box-shadow: $dropdown-shadow;
  }

  .left-container {
    position: relative;
    height: 100%;

    img {
      object-fit: cover;
    }
  }

  .right-container {
    padding: 5rem;
    position: relative;

    .form-group {
      width: 24rem;
    }

    .info-block {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 1.5rem;
      color: $secondary-text;
      text-align: center;
      width: 100%;
    }

    .or-block {
      position: relative;
      text-align: center;
      margin: 1.5rem 0;

      span {
        display: inline-block;
        background-color: $true-white;
        padding: 0 0.5rem;
        position: relative;
        z-index: 1;
      }

      &:after {
        content: "";
        display: block;
        height: 1px;
        background-color: $light-gray;
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    .fb-btn {
      @include app-button($fb-color, $white);
      width: 100%;

      svg {
        margin-right: 0.75rem;
      }
    }

    .primary-btn,
    .accent-btn {
      width: 100%;
      margin-top: 2rem;
    }
  }

  @media (max-width: 1020px) {
    .auth-card {
      grid-template-columns: 1fr;

      .right-container {
        padding: 5rem 4rem;
      }
    }
  }

  @media (max-width: 575px) {
    .auth-card {
      width: 100%;

      .right-container {
        padding: 5rem 1.5rem 3rem 1.5rem;
        width: 100%;

        .form-group {
          width: 100%;
        }
      }
    }
  }
}

.error-message {
  color: lightcoral;
}
