// base styles
* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: $secondary-text;
  font-family: $body-font;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: $heading-font;
  font-weight: 600;
  color: $primary-text;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    color: darken($accent, 12%);
  }
}

svg {
  &.svg-inline--fa {
    fill: currentColor;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.title {
  line-height: 1.25;
  font-family: $heading-font;
  font-weight: 600;
  color: $primary-text;
}

.sub-title {
  color: $secondary-text;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}


.form-group {
  margin-bottom: 1rem;


  label {
    display: block;
    color: $primary-text;
    margin-bottom: 0.5rem;
  }

  &.horizontal {
    display: flex;
    align-items: center;

    .form-control {
      margin-right: 0.5rem;
      width: auto;
    }

    label {
      margin: 0;
    }
  }
}

.form-control {
  border-radius: 0;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-width: 1px;
  border-style: solid;
  border-color: $light-gray;
  transition: all .3s ease;
  outline: none;
  box-shadow: none;
  display: inline-block;
  width: 100%;

  &:focus, &:active {
    border-color: $primary-text;
  }
}

select.form-control {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.select-container {
  position: relative;

  &:after {
    border-style: solid;
    border-width: 0.125rem 0.125rem 0 0;
    content: '';
    display: inline-block;
    height: 0.5rem;
    vertical-align: top;
    width: 0.5rem;
    top: 0.875rem;
    right: 0.75rem;
    transform: rotate(135deg);
    position: absolute;
  }

  select.form-control {
    padding-right: 2.25rem;
  }
}


// card
.card {
  display: block;
  padding: 1rem;
  box-shadow: $default-shadow;
  position: relative;
  border-radius: 0.25rem;
}

// search box
.search-container {
  position: relative;

  .form-control {
    padding-left: 2.5rem;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
  }
}

// margin
.mb-2 {
  margin-bottom: 2rem;
}



