// base styles
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: $secondary-text;
  font-family: $body-font;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: $heading-font;
  font-weight: 600;
  color: $primary-text;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    color: darken($accent, 12%);
  }
}

svg {
  &.svg-inline--fa {
    fill: currentColor;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.title {
  line-height: 1.25;
  font-family: $heading-font;
  font-weight: 600;
  color: $primary-text;
}

.sub-title {
  color: $secondary-text;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

// card
.card {
  display: block;
  padding: 1rem;
  box-shadow: $default-shadow;
  position: relative;
  border-radius: 0.2rem;
}

// margin
.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.app-page-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  min-height: calc(100vh - 4rem - 6rem - 3.5rem);

  @media (max-width: 575px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .illustration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .img {
      height: 100%;
      width: 100%;
      max-height: 30rem;
      max-width: 30rem;
      object-fit: cover;
      margin-bottom: 2rem;
    }
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0.2rem 0.5rem;
  color: $primary-text;
  background-color: $light-gray;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: $heading-font;

  &.accent {
    background-color: $accent;
    color: $true-white;
  }
}

// info container

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

// 404 - Page not found

.page-not-found {
  display: block;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  background: url("/images/404.png") no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 2rem;
}

// Contact

.contact-image {
  display: block;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  background: url("/images/contact.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 2rem;
}

.contact-details {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

// Login to continue

.login-required {
  display: block;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  background: url("/images/Login.png") no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 2rem;
}

// Empty Cart

.empty-cart {
  display: block;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  background: url("/images/EmptyCart.png") no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 4rem;
}

// table

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 0.75rem;
}
