
// breadcrumb

.bread-crumb-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  .bread-crumb-item {
    text-decoration: none;
    font-family: $heading-font;
    color: $secondary-text;

    &.active {
      color: $primary-text;
      .bread-crumb-separator{
        display: none;
      }
    }

    .bread-crumb-link{
      display: inline-block;
    }

    .bread-crumb-separator{
      display: inline-block;
      padding: 0 0.5rem;
    }
  }
}
