.product-item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;

  .product-image {
    position: relative;
    height: 22.5rem;
    flex: 0 0 22.5rem;

    img {
      object-fit: contain;
    }
  }

  .product-details {
    flex: 1 1 auto;

    text-align: center;
    padding: 0.5rem 1rem;

    display: flex;
    flex-direction: column;

    .product-name {
      margin-bottom: 0.25rem;
      flex: 1 1 auto;
    }

    .product-price {
      font-weight: bold;
      font-family: $heading-font;
    }

    .btn {
      width: 100%;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
    }

    &.horizontal {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      font-size: 0.875rem;

      .product-name {
        flex: 1 1 auto;
      }

      .product-price {
        font-weight: normal;
        flex: 0 0 4rem;
      }
    }
  }
}
