// Colors
$primary: #FFA987;
$primary-light: lighten(#FFA987, 40%);
$accent: #1E1E24;

$primary-text: #444140;
$secondary-text: #444140;
$muted-text: #ADB5BD;
$light-gray: #C5C3C6;

$true-white: #FFFFFF;
$white: #F2F3F7;

$danger: #FF5E5B;
$warning: #EF8354;
$info: #275DAD;
$success: #0F745F;


// Font
$heading-font: 'Jost', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;


// Shadows
$default-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
$dropdown-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
$modal-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

