.home-container{
  padding: 0 4rem;
  .banner{
    background-image: url('/./../assets/img/pexels.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 8rem);
    position: relative;

    .social-icons{
      position: absolute;
      left: -3rem;
      bottom: 15rem;

      .icon-box{
        width: 30px;
        height: 30px;
        border: 1px solid #C5C3C6;
        margin: 2px 0;
        cursor: pointer;
      }
    }

    .right-icons{
      position: absolute;
      right: -3rem;
      bottom: 15rem;

      .icon-box{
        width: 30px;
        height: 30px;
        border: 1px solid #C5C3C6;
        margin: 2px 0;
        cursor: pointer;
      }
    }
  }

  .featured{
    padding: 2rem;

    .heading{
      text-align: center;
      font-size: 1.5rem;
    }

    .image-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem 0;

      .product-item{
        margin: 0.5rem;
        cursor: pointer;

        img{
          width: 175px;
          height: 200px;
          object-fit: cover;
        }

        .item-detail{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .new-arrivals{
    padding: 2rem;

    .heading{
      text-align: center;
      font-size: 1.5rem;
    }

    .image-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem 0;

      .product-item{
        margin: 0.5rem;
        cursor: pointer;

        img{
          width: 175px;
          height: 200px;
          object-fit: cover;
        }

        .item-detail{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

