<div class="home-container">

  <div class="banner">
    <div class="social-icons">
      <div class="icon-box"></div>
      <div class="icon-box"></div>
      <div class="icon-box"></div>
    </div>

    <div class="right-icons">
      <div class="icon-box"></div>
      <div class="icon-box"></div>
    </div>
  </div>

  <div class="featured">
    <div class="heading">Featured Shop</div>
    <div class="image-container">
      <div class="product-item">
        <img src="./../../../assets/img/pexels-karolina-grabowska-4219654.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <div class="product-item">
        <img src="./../../../assets/img/pgrabowska.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <div class="product-item">
        <img src="./../../../assets/img/pexels-karolina-grabowska-4219654.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <div class="product-item">
        <img src="./../../../assets/img/pgrabowska.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <!--<button class="btn primary-btn" routerLink="/product-detail">Product details</button>-->
    </div>

  </div>

  <div class="new-arrivals">
    <div class="heading">New Arrivals</div>

    <div class="image-container">
      <div class="product-item">
        <img src="./../../../assets/img/pgrabowska.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <div class="product-item">
        <img src="./../../../assets/img/pexels-karolina-grabowska-4219654.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <div class="product-item">
        <img src="./../../../assets/img/pgrabowska.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

      <div class="product-item">
        <img src="./../../../assets/img/pexels-karolina-grabowska-4219654.jpg" alt=""/>
        <div class="item-detail">
          <div>Title</div>
          <div>$50</div>
        </div>
      </div>

    </div>
  </div>
</div>
