@import "../scss/variables";

.app-page-container {
  margin: 4rem auto;

  .product-list-heading {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 12rem;
    grid-gap: 2rem;
    margin-top: -4rem;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    background-color: $true-white;

    @supports (position: sticky) {
      position: sticky;
      top: 4rem;
      z-index: 99;
    }

    .filter-toggle{
      display: none;
    }
  }

  .product-grid-container {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-gap: 2rem;

    .product-filter-container {
      max-width: 15rem;

      .sticky-container {
        @supports (position: sticky) {
          position: sticky;
          top: 8rem;
          z-index: 10;
        }
      }

      .filter-title{
        display: none;
      }

      .accordion-block {
        padding-bottom: 1.5rem;

        .accordion-heading {
          padding: 0.75rem 0.25rem 0.75rem 1rem;
          text-transform: capitalize;
          border-top: 1px solid $light-gray;
          border-bottom: 1px solid $light-gray;
          font-family: $heading-font;
          font-size: 1.125rem;
          color: $primary-text;
          font-weight: 600;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            background-color: $white;
          }
        }

        .list-item {
          padding: 0.75rem 1rem;

          .checkbox-wrapper {
            display: flex;
            align-items: center;

            .form-control {
              margin-right: 0.5rem;
              width: auto;
            }
          }

          &:hover {
            background-color: $white;
            color: $primary-text;
          }
        }
      }

      .filter-actions{
        display: none;
      }
    }

    .product-list-container {
      .product-block {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        justify-content: center;
      }

      .product-item {
        display: flex;
        flex-direction: column;

        .product-image {
          flex: 0 0 20rem;
          position: relative;

          img {
            object-fit: cover;
          }
        }

        .item-detail {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0;
        }
      }
    }
  }
}



@media (max-width: 992px) {
  .app-page-container {
    .product-list-heading {
      padding-top: 2rem;
      padding-bottom: 2rem;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      .search-container{
        grid-column: 1/span 2;
      }

      .filter-toggle {
        display: block;
        grid-row: 2;
        grid-column: 1/span 1;

        .btn {
          text-transform: capitalize;
          font-size: 1rem;
          line-height: 1;
          font-weight: normal;
          width: 100%;
          border-color: $light-gray;
        }
      }

      .select-container {
        grid-row: 2;
        grid-column: 2/span 1;
      }
    }

    .product-grid-container {
      grid-template-columns: 1fr;

      .product-filter-container{
        width: 100%;
        max-width: 30rem;
        position: fixed;
        z-index: 100;
        padding: 2rem;
        top: 4rem;
        bottom: 0;
        left: 100%;
        background: $true-white;
        box-shadow: $default-shadow;

        .sticky-container{
          position: static;
        }

        &.active{
          left: 0;
        }

        .filter-title{
          display: block;
        }

        .filter-actions{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 0 1rem;
          padding: 1rem 2rem;

          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .app-page-container {
    .product-grid-container {
      .product-list-container {
        .product-block {
          grid-gap: 2rem 1rem;
          grid-template-columns: 1fr 1fr;
        }
        .product-item {
          display: flex;
          flex-direction: column;

          .product-image {
            flex: 0 0 18rem;
          }
        }
      }
    }
  }
}
