@import "./scss/varabiles";

.home-container {
  .banner {
    background-image: url('/images/main-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 8rem);
    width: calc(100% - 8rem);
    margin: 0 auto;
    position: relative;

    .social-icons,
    .control-icons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 1rem 0;

      .icon-button {
        margin: 1rem 0;
      }
    }

    .social-icons {
      left: -3.25rem;
    }

    .control-icons {
      right: -3.25rem;

      .arrow-up {
        .svg-icon {
          transform: rotate(90deg);
        }
      }

      .arrow-down {
        .svg-icon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .container {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .featured-container,
  .new-arrivals-container {
    margin-bottom: 4rem;

    .heading {
      text-align: center;
      font-size: 1.75rem;
      font-weight: 500;
      position: relative;
      margin-bottom: 3rem;

      &:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0.25rem;
        position: absolute;
        left: 50%;
        bottom: -0.5rem;
        transform: translateX(-50%);
        background-color: $primary;
      }
    }

    .product-container {
      display: grid;
      grid-gap: 2rem 1rem;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      //grid-template-columns: repeat(4 , 15rem);
      justify-content: center;
      padding: 0;

      .product-item {
        cursor: pointer;

        .product-image {
          height: 15rem;
          position: relative;
        }

        .item-detail {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

