@import "./scss/variables";

.home-container {
  .banner {
    height: calc(100vh - 8rem);
    min-height: 30rem;
    width: calc(100% - 8rem);
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    .banner-image {
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
      }
    }

    .social-icons,
    .control-icons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 1rem 0;

      .icon-button {
        margin: 1rem 0;
      }
    }

    .social-icons {
      left: -3.25rem;
    }

    .control-icons {
      right: -3.25rem;

      .arrow-up {
        .svg-icon {
          transform: rotate(90deg);
        }
      }

      .arrow-down {
        .svg-icon {
          transform: rotate(-90deg);
        }
      }
    }

    .banner-details {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translateY(-50%);
      max-width: 25rem;

      .title {
        font-size: 3rem;
      }

      .btn {
        padding: 1.25rem 2.5rem;
        margin-top: 2rem;
      }
    }
  }

  .container {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .featured-container,
  .new-arrivals-container {
    margin-bottom: 4rem;

    .heading {
      text-align: center;
      font-size: 1.75rem;
      font-weight: 500;
      position: relative;
      margin-bottom: 3rem;
      font-family: $heading-font;
      color: $primary-text;

      &:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0.25rem;
        position: absolute;
        left: 50%;
        bottom: -0.5rem;
        transform: translateX(-50%);
        background-color: $primary-text;
      }
    }

    .product-container {
      display: grid;
      grid-gap: 2rem 1.5rem;
      grid-template-columns: repeat(auto-fit, 21rem);
      justify-content: center;
      padding: 0;

      .product-item {
        cursor: pointer;

        .product-image {
          position: relative;
          height: 22.5rem;
          flex: 0 0 22.5rem;

          img {
            object-fit: contain;
          }
        }

        .item-detail {
          display: flex;
          justify-content: space-between;
          padding: 1rem 0.5rem;

          .name {
            flex: 1 1 auto;
            max-width: 80%;
          }
          .price {
            font-weight: 700;
            color: $primary-text;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {

  .home-container {
    .banner {
      height: calc(100vh - 4rem);
      width: 100%;

      .social-icons,
      .control-icons{
        .icon-button {
          margin: 0;
          transform: translateY(-4rem);
        }
      }

      .social-icons {
        left: 2rem;
        top: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
      }

      .control-icons {
        right: 2rem;
        top: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }

      .banner-details {
        position: absolute;
        left: 0;
        max-width: none;
        text-align: center;
        width: 100%;
        padding: 0 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.125rem;

        .title {
          font-size: 2.25rem;
        }

        .btn {
          padding: 1.25rem 2.5rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
