@import "./../scss/varabiles";

.home-container {
  .banner {
    height: calc(100vh - 8rem);
    width: calc(100% - 8rem);
    margin: 0 auto;
    position: relative;

    .banner-image {
      height: 100%;
      width: 100%;
      img{
        object-fit: cover;
      }
    }

    .social-icons,
    .control-icons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 1rem 0;

      .icon-button {
        margin: 1rem 0;
      }
    }

    .social-icons {
      left: -3.25rem;
    }

    .control-icons {
      right: -3.25rem;

      .arrow-up {
        .svg-icon {
          transform: rotate(90deg);
        }
      }

      .arrow-down {
        .svg-icon {
          transform: rotate(-90deg);
        }
      }
    }

    .banner-details {
      position: absolute;
      left: 20%;
      top: 50%;
      transform: translateY(-50%);
      max-width: 25rem;

      .title{
        font-size: 3rem;
      }

      .primary-btn{
        padding: 1.25rem 2.5rem;
        margin-top: 2rem;
      }
    }
  }

  .container {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .featured-container,
  .new-arrivals-container {
    margin-bottom: 4rem;

    .heading {
      text-align: center;
      font-size: 1.75rem;
      font-weight: 500;
      position: relative;
      margin-bottom: 3rem;
      font-family: $heading-font;

      &:after {
        content: "";
        display: block;
        width: 3rem;
        height: 0.25rem;
        position: absolute;
        left: 50%;
        bottom: -0.5rem;
        transform: translateX(-50%);
        background-color: $primary;
      }
    }

    .product-container {
      display: grid;
      grid-gap: 2rem 1rem;
      grid-template-columns: repeat(auto-fill, 15rem);
      justify-content: center;
      padding: 0;

      .product-item {
        cursor: pointer;

        .product-image {
          position: relative;
          height: 26.25rem;

          img {
            object-fit: contain;
          }
        }

        .item-detail {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

